<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="unknown-svc"/>
    
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- PlanIt 표준 필드명 매핑 -->
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <message>message</message>
                <stackTrace>stack_trace</stackTrace>
                <thread>[ignore]</thread>
                <version>[ignore]</version>
            </fieldNames>
            
            <!-- service 필드 추가 -->
            <customFields>{"service":"${serviceName}"}</customFields>
            
            <!-- MDC 전체 포함 (traceId, spanId, 비즈니스 데이터) -->
            <includeMdc>true</includeMdc>
            
            <!-- 타임스탬프 ISO8601 UTC 포맷 -->
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <!-- local: 텍스트 포맷으로 개발 편의성 유지 -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [${serviceName}] [%X{traceId:-}] %logger{36} : %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- dev, prod: JSON 포맷으로 Fluent Bit 수집 -->
    <springProfile name="dev, prod">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE" />
        </root>
    </springProfile>

    <!-- 프로파일 미설정 시 기본값: JSON -->
    <springProfile name="!local &amp; !dev &amp; !prod">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE" />
        </root>
    </springProfile>
</configuration>
